 @media only screen and (min-width:1200px){
    .navbar{
        padding:0px 200px;
    }
    
    .banner-row{
        padding-left:100px;
        padding-right:100px;
    }

    .margintop{
        margin-top:30px;
    }

    .category-container-cover{
        margin-left: 0px;
    }
    
    .product-box-1,.product-box-2,.product-box-3{
    
        min-height:350px;
    }

    .beauty-container{
        width:100%;
    }

     .box-layout{
        width:209px;
    } 

    
     .carousel-box{
       
        width: 800px;
     
    } 

     .button-nav1{
        left:890px;
        top: 525px;
    }
    .button-nav2{
        left:970px;
        top:525px;
    } 

    .email{
        width:320px;
    }
    .line{

        width:502px;
    }

    .col1-margin {
        padding-left: 0px;
        padding-right:150px;
    }

    .col2-margin{
        padding-left:40px;
        margin-left: 0px;
        
    }

    .col3-margin {
        padding-left: 36px;
    }

} 

@media only screen and (min-width: 992px) and (max-width:1200px){

    .banner-row{
        padding-left:120px;
        padding-right:120px;
    }

    .form input[type="text"] {
        width: 382px;
    }

    .form-container {
       margin-top: 34px;
    }

    .margintop{
        margin-top:30px;
    }


    .beauty-container{
        width:100%;
    }

    .product-box-1,.product-box-2,.product-box-3{
    
        min-height:350px;
    }


    .button-nav1{
        left:600px;
        top: 540px;
    }
    .button-nav2{
        left:700px;
        top:545px;
    }

    .box-layout{
        width:209px;
    } 

    
     .carousel-box{
        
        width: 800px;
       
    } 

     .button-nav1{
        left:730px;
        top: 525px;
    }
    .button-nav2{
        left:820px;
        top:525px;
    } 

    .email{
        /* width:285px; */
        width:25vw;
    }
    .line{

        width:480px;
    }


}

@media only screen and (min-width: 768px) and (max-width:1100px){
    .left-icon{
        top: 205px;
        left: 58px;
    }
    .right-icon{
     top: 258px;
    left: 76px;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){

    .banner-row{
        padding-left:100px;
        padding-right:100px;
    }
    
    .box-layout{
       display: none;
    }

    
    .button-nav1{
        left:600px;
        top: 540px;
    }
    .button-nav2{
        left:700px;
        top:545px;
    }

    .carousel-box{
        margin-left: 30px;
        width:700px;
        
    }

  


}



@media only screen and (max-width:1200px){

    .banner-container{
        padding: 0px 0vw;
    }

    #content-3 h1,#content-2 h1,#content-1 h1{
        font-size:50px;
    }
    #content-3 h2,#content-2 h2,#content-1 h2{
        font-size: 40px;
    }

    .col1-margin {
        padding-left: 0px;
    }

    .col2-margin{
        padding-left:40px;
        margin-left: 0px;
        
    }

    .col3-margin {
        padding-left: 36px;
    }

    #contact{
        padding-left: 50px;
        padding-right: 300px;
    }
    #form{
        width:95%;
    }
}




@media only screen and (max-width:991px){

  
    #content-3 h1,#content-2 h1,#content-1 h1{
        font-size:32px;
    }
    #content-3 h2,#content-2 h2,#content-1 h2{
        font-size: 30px;
    }

    #content-3 p,#content-2 p,#content-1 p{
        font-size: 13px;
    }

    .form-container{
        display:none;
    }
   
     .margintop{
        text-align: center;
        margin-bottom: 30px;
       
    }

        .category-container{
            border-radius: 13px;
            padding-bottom: 33px;
            padding-right: 4px;
           
        }
   
        .category-container-cover{
            padding: 31px 81px;
        }

        .col-mar{
            margin-top:30px;
        }


        .beauty-container,.electronics-container{
    
            width:90%;
           
        }

        .beauty-container{
            width: 80%;     
        }

        .line-footer{
    
            width:80vw;
        }

        .carousel-box{
            margin-left: 50px;
        }
    
        .col1-margin {
            padding-left: 36px;
        }

        .col2-margin{
            padding-left:40px;
            margin-left: 0px;
            
        }
    
        .col3-margin {
            padding-left: 36px;
        }

        .map iframe{
            width:450px;
        }

}

@media only screen and (max-width:768px){

    #carousel{
        padding-bottom:10px;
    }
    
    .image{
        padding-top:50px;
        margin-top: 32px;
        margin-left: -3px;
    }

    .image-container{
        margin-top:100px;
    }

    #content-1, #content-2, #content-3{
        text-align: left;
        padding-left:10%;
        padding-right:10%;
    }
    
    .banner-row {  
        width:100%;
    
    } 

    #content-1, #content-2,#content-3{
        width:100%;
    }

    #header{
        background-color: #6610f2;
        background-image: none;
    }

    .left-icon,.right-icon{
        display: none;
    }

    #content-3 h1, #content-2 h1, #content-1 h1{
        display:inline;
        font-size:26px;
    }
    #content-3 h2, #content-2 h2, #content-1 h2{
        display: inline;
        font-size:26px;
    }

    #content-3 p, #content-2 p, #content-1 p{
        margin-top: 20px !important;
    }


    #content-icons{
        display:flex;
        flex-direction:column;
    }

    .box{
        margin-top:25px;
    }


    .button-nav1{
        display: none;
    }
    .button-nav2{
        display: none;
    }

    .box-layout{
        display: none;
     }

     .carousel-box{
        max-width:80vw;
        margin-left:40px;
        margin-right:30px;
    } 

    .email{

        width:40vw;
    }

    .line{
        width:65vw;
        
    }

    #contact {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media only screen and (max-width:576px){
    .line-footer{
    
        width:100vw;
    }

    .col2-margin{
        padding-left:40px;
        margin-left: 0px;
        
    }

    .col1-margin {
        padding-left: 36px;
    }

    .col3-margin {
        padding-left: 36px;
    }

    .featured-row-item-1{
        margin-right: 40px;
    }

    .featured-row-item-2{
        margin-left:50px;
    }

    .map iframe{
        width:100%;
    }
}

@media only screen and (min-width:300px) and (max-width:500px){
   
    .beauty-container{
        width: 80%;
        
    }

    
.carousel-box{

    margin-left:20px;
} 

.line{
    width:85vw;
    
}
.email{
    width:40vw;
}

.subscribe{
    width:40vw;
}

.featured-row-item-2{
    margin-left: 25px;
}

}



@media only screen and (max-width:300px){
    #navbar-container-fluid .navbar-brand{
        font-size: 23px;
        }

    #navbar-container-fluid .img-toggle-icon{
     width: 30px;
    height: 22px;
    margin-right: -8px;
        
    }

    .product-box-3{
        margin-left: 0px;
    }

    .beauty-container{
        margin-left: 6px;
        width:90%;
    }
   

    .electronics-container {
      margin-left: 33px;
}

.featured-row-item-2{
    margin-left:15px;
}


.carousel-box{

    margin-left:20px;
} 

.email{
    width:50vw;
}

.subscribe{
    width:90px;
}

.line{
    width:90vw;
}



}